@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    padding: 0;
    margin: 0;

    font: inherit;
    font-size: 100%;

    vertical-align: baseline;

    border: 0;
  }

  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section,
  main {
    display: block;
  }

  /* Force scrollbar */
  html {
    overflow-y: scroll;
  }

  /* Align radios and text inputs with their label */

  input[type="radio"] {
    vertical-align: text-bottom;
  }

  /* Hand cursor on clickable input elements */
  label,
  input[type="button"],
  input[type="submit"],
  button {
    cursor: pointer;
  }

  strong {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  img {
    vertical-align: middle;

    border: 0;
  }

  sub,
  sup {
    position: relative;

    font-size: 55%;
    line-height: 0;

    vertical-align: baseline;
  }

  sup { top: -.7em; }

  sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

  .cf:before,
  .cf:after {
    display: table;

    content: " ";
  }

  .cf:after {
    clear: both;
  }

  .cf {
    *zoom: 1;
  }

/*********************** Styling start **********************/

body{
font-family: sans-serif;
}

h2{
  font-size: 19px;
  padding: 26px 0;
}

p{
  font-size: 13px;
}

h1{
  margin-left: 113px;
  padding-top: 10px;
}

header .video-button{
  margin-left: 486px;
  padding-top: 135px;
}

header{
  background: url(../images/video-poster.jpg);
}

header h2{
  font-size: 40px;
  color: white;
  margin-top: 22px;
  margin-left: 472px;
}

header button{
  background-color: #F5470B;
  border-style: none;
  border-radius: 5px;
  margin-left: 488px;
  margin-bottom: 52px;
}

header button p{
  font-size: 19px;
  padding: 15px 23px;
  color: white;
}

.wrapper{
  width: 984px;
  margin: 0 auto;
}

article{
  width: 215px;
  margin-top: 64px;
  text-align: center;
  display: inline-block;
}

.details article+article{
  margin-left: 36px;
}

article span{
  color: #F5470B;
}

.queries{
  margin-top: 65px;
}

.query h2{
  background: #EBEBEB;
  padding-left: 25px;
  margin-bottom: 23px;
}

.query p{
  margin-bottom: 23px;
  padding: 0 26px;
}

.query span{
  float: right;
  margin: auto 20px;
}